@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #1e73be !important;
}

@layer base {
  * {
    box-sizing: border-box;
  }
}

.editJSDiv h2 {
  font-weight: 600;
  font-size: 18px;
}

.editJSDiv h3,
h4,
h5 {
  font-weight: 500;
  font-size: 16px;
}

.editJSDiv li {
  margin-bottom: 10px;
  list-style-type: disc;
  padding-left: 10px;
  margin-left: 25px;
}

.my-input[type="number"] {
  -webkit-appearance: none !important;
  -moz-appearance: textfield !important;
  appearance: textfield !important;
}

.my-input[type="number"]::-webkit-inner-spin-button,
.my-input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

html,
body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 4px;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Global Scrollbar Styling */
*::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
}

*::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the scrollbar track */
}

*::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}

/* Optional: Add for Firefox */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #888 #f1f1f1; /* Thumb and track colors */
}
